@import url('https://fonts.googleapis.com/css?family=Raleway:400,500');

body {
    display: flex;
    background-color: green;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* #wrapper {
    position: relative;
} */

#quote-box {
    width: 600px;
    height: auto;
    text-align: center;
    background-color: azure;
    padding: 50px;
    position: relative;
    display: table;
    border-radius: 4px;
}

#quote-text {
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 10px;
    color: green;
}

#quote-author {
    font-size: 25px;
    text-align: right;
    margin-bottom: 10px;
    color: green;
}

#quote-box .buttons {
    width: 600px;
    /* height: 50px; */
    display: block;
}

#tweet-quote, #tumblr-quote {
    float: left;
    background-color: green;
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 4px;
    margin-right: 10px;
    padding-top: 5px;
    font-size: 30px;
}

#new-quote {
    float: right;
    background-color: green;
    color: white;
    height: 50px;
    border-radius: 4px;
    border: none;
    outline: none;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

#footer {
    width: 700px;
    text-align: center;
    color: white;
    font-size: 20px;
    margin-top: 10px;
}